/* Общие стили */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Шапка */
.header {
  background-color: #0056b3;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

/* Основной контент */
.home-page, .scenario-page {
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

/* Карточки */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 0;
  color: #666;
}

.card button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #ddd;
}


.devices-page {
  padding: 20px;
}

.devices-page .content {
  max-width: 800px;
  margin: 0 auto;
}

/* Общие стили для форм авторизации и регистрации */
.auth-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.auth-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.back-button, .register-button {
  margin-top: 10px;
  background-color: #6c757d;
}

.back-button:hover, .register-button:hover {
  background-color: #5a6268;
}